@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body {
  background-image: url("./assets/cat_wallpaper.jpeg");

}

.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}